@charset "UTF-8";

@font-face {
  font-family: 'sola-aoi';
  src: url('sola-aoi.eot');
  src: url('sola-aoi.eot?#iefix') format('embedded-opentype'),
       url('sola-aoi.woff') format('woff'),
       url('sola-aoi.ttf') format('truetype'),
       url('sola-aoi.svg#sola-aoi') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: sola-aoi;
  font-style: normal;

  /* font-size: 14px; */

  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.at:before { content: "\f798"; } /* '\f798' */
.activity:before { content: "\f800"; } /* '\f800' */
.app-add:before { content: "\f861"; } /* '\f861' */
.app-center:before { content: "\f862"; } /* '\f862' */
.app-center2:before { content: "\f826"; } /* '\f826' */
.arrow-top:before { content: "\f863"; } /* '\f863' */
.board:before { content: "\f864"; } /* '\f864' */
.cert:before { content: "\f865"; } /* '\f865' */
.cloudy:before { content: "\f866"; } /* '\f866' */
.whirlwind:before { content: "\f799"; } /* '\f799' */
.sandstorm:before { content: "\f796"; } /* '\f796' */
.sink-float:before { content: "\f795"; } /* '\f795' */
.snow-shower:before { content: "\f794"; } /* '\f794' */
.fog:before { content: "\f793"; } /* '\f793' */
.tornado:before { content: "\f792"; } /* '\f792' */
.sleet:before { content: "\f791"; } /* '\f791' */
.mist:before { content: "\f790"; } /* '\f790' */
.big-snow:before { content: "\f789"; } /* '\f789' */
.middle-snow:before { content: "\f788"; } /* '\f788' */
.little-snow:before { content: "\f787"; } /* '\f787' */
.jansha:before { content: "\f786"; } /* '\f786' */
.heavy-rainstorm:before { content: "\f785"; } /* '\f785' */
.rainstorm:before { content: "\f784"; } /* '\f784' */
.drizzle:before { content: "\f783"; } /* '\f783' */
.thunderstorms:before { content: "\f782"; } /* '\f782' */
.shower:before { content: "\f780"; } /* '\f780' */
.cloudy2:before { content: "\f781"; } /* '\f781' */
.hail:before { content: "\f779"; } /* '\f779' */
.sunny:before { content: "\f778"; } /* '\f778' */
.middle-rain:before { content: "\f776"; } /* '\f776' */
.heavy-rain:before { content: "\f774"; } /* '\f774' */
.rain-snow:before { content: "\f775"; } /* '\f775' */
.dress:before { content: "\f867"; } /* '\f867' */
.gift:before { content: "\f868"; } /* '\f868' */
.homepage:before { content: "\f869"; } /* '\f869' */
.zan:before { content: "\f871"; } /* '\f871' */
.zan2:before { content: "\f870"; } /* '\f870' */
.list-more:before { content: "\f872"; } /* '\f872' */
.love:before { content: "\f873"; } /* '\f873' */
.mail:before { content: "\f874"; } /* '\f874' */
.myhome:before { content: "\f875"; } /* '\f875' */
.pengyou:before { content: "\f876"; } /* '\f876' */
.search:before { content: "\f877"; } /* '\f877' */
.arrow-top2:before { content: "\f879"; } /* '\f879' */
.arrow-down:before { content: "\f890"; } /* '\f890' */
.arrow-up:before { content: "\f891"; } /* '\f891' */
.arrow-bottom:before { content: "\f892"; } /* '\f892' */
.checkin-circle:before { content: "\f893"; } /* '\f893' */
.play:before { content: "\f894"; } /* '\f894' */
.pause:before { content: "\f895"; } /* '\f895' */
.say-other:before { content: "\f896"; } /* '\f896' */
